In [1]:
import pandas as pd

In [2]:
df = pd.read_csv(r'sales_data.csv')

In [3]:
df

,OrderID,Date,Region,Salesperson,Product,Units,UnitPrice,Total,CustomerType
0,1001,2024-09-07,North,Salma,Headset,8,60,480,Corporate
1,1002,2024-08-23,East,Mariam,Keyboard,7,40,280,Corporate
2,1003,2024-05-04,North,Youssef,Monitor,8,150,1200,Consumer
3,1004,2024-12-08,North,Nada,Headset,2,60,120,Consumer
4,1005,2024-09-12,South,Nada,Mouse,5,25,125,Corporate
...,...,...,...,...,...,...,...,...,...
95,1096,2024-11-27,West,Mariam,Laptop,2,850,1700,Consumer
96,1097,2024-09-04,West,Nada,Laptop,8,850,6800,Corporate
97,1098,2024-08-03,East,Ahmed,Headset,7,60,420,Consumer
98,1099,2024-07-17,North,Youssef,Headset,7,60,420,Corporate
99,1100,2024-08-22,South,Mariam,Keyboard,5,40,200,Consumer

### Level 1

In [5]:
df.head()

,OrderID,Date,Region,Salesperson,Product,Units,UnitPrice,Total,CustomerType
0,1001,2024-09-07,North,Salma,Headset,8,60,480,Corporate
1,1002,2024-08-23,East,Mariam,Keyboard,7,40,280,Corporate
2,1003,2024-05-04,North,Youssef,Monitor,8,150,1200,Consumer
3,1004,2024-12-08,North,Nada,Headset,2,60,120,Consumer
4,1005,2024-09-12,South,Nada,Mouse,5,25,125,Corporate

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   OrderID       100 non-null    int64
 1   Date          100 non-null    object
 2   Region        100 non-null    object
 3   Salesperson   100 non-null    object
 4   Product       100 non-null    object
 5   Units         100 non-null    int64
 6   UnitPrice     100 non-null    int64
 7   Total         100 non-null    int64
 8   CustomerType  100 non-null    object
dtypes: int64(4), object(5)
memory usage: 7.2+ KB

In [7]:
len(df)

100

In [8]:
df.Region.unique()

array(['North', 'East', 'South', 'West'], dtype=object)

In [9]:
df.CustomerType.unique()

array(['Corporate', 'Consumer'], dtype=object)

In [12]:
print(df.Total.min(),df.Total.max(),df.Total.mean())

25 7650 1458.3

### Level 2

In [15]:
df.query("Salesperson == 'Ahmed'")

,OrderID,Date,Region,Salesperson,Product,Units,UnitPrice,Total,CustomerType
9,1010,2024-06-03,South,Ahmed,Monitor,2,150,300,Consumer
20,1021,2024-04-16,East,Ahmed,Monitor,8,150,1200,Consumer
30,1031,2024-04-04,South,Ahmed,Monitor,4,150,600,Consumer
39,1040,2024-10-26,East,Ahmed,Keyboard,10,40,400,Consumer
41,1042,2024-02-07,West,Ahmed,Mouse,4,25,100,Consumer
43,1044,2024-03-30,East,Ahmed,Keyboard,1,40,40,Consumer
49,1050,2024-05-04,North,Ahmed,Laptop,6,850,5100,Consumer
59,1060,2024-12-25,South,Ahmed,Monitor,1,150,150,Consumer
61,1062,2024-05-28,West,Ahmed,Keyboard,9,40,360,Corporate
64,1065,2024-06-12,South,Ahmed,Headset,4,60,240,Consumer
69,1070,2024-09-05,West,Ahmed,Monitor,1,150,150,Corporate
71,1072,2024-08-24,South,Ahmed,Laptop,5,850,4250,Consumer
73,1074,2024-08-04,East,Ahmed,Headset,3,60,180,Consumer
75,1076,2024-10-16,North,Ahmed,Keyboard,2,40,80,Corporate
78,1079,2024-05-25,West,Ahmed,Laptop,9,850,7650,Corporate
82,1083,2024-08-27,South,Ahmed,Monitor,3,150,450,Corporate
94,1095,2024-10-10,North,Ahmed,Monitor,5,150,750,Corporate
97,1098,2024-08-03,East,Ahmed,Headset,7,60,420,Consumer

In [20]:
df[df['Units']>5]

,OrderID,Date,Region,Salesperson,Product,Units,UnitPrice,Total,CustomerType
0,1001,2024-09-07,North,Salma,Headset,8,60,480,Corporate
1,1002,2024-08-23,East,Mariam,Keyboard,7,40,280,Corporate
2,1003,2024-05-04,North,Youssef,Monitor,8,150,1200,Consumer
5,1006,2024-09-25,South,Mariam,Headset,9,60,540,Corporate
8,1009,2024-01-26,North,Youssef,Laptop,7,850,5950,Consumer
11,1012,2024-06-28,South,Salma,Monitor,8,150,1200,Corporate
13,1014,2024-01-25,South,Salma,Mouse,6,25,150,Consumer
16,1017,2024-10-20,North,Nada,Monitor,9,150,1350,Consumer
18,1019,2024-12-20,East,Mariam,Laptop,9,850,7650,Corporate
19,1020,2024-06-05,North,Youssef,Laptop,9,850,7650,Corporate
20,1021,2024-04-16,East,Ahmed,Monitor,8,150,1200,Consumer
23,1024,2024-03-24,North,Mariam,Laptop,7,850,5950,Corporate
28,1029,2024-05-25,West,Nada,Keyboard,9,40,360,Corporate
32,1033,2024-12-05,South,Omar,Keyboard,6,40,240,Consumer
33,1034,2024-11-06,West,Mariam,Headset,9,60,540,Corporate
35,1036,2024-01-04,West,Omar,Mouse,7,25,175,Consumer
38,1039,2024-12-14,East,Omar,Keyboard,9,40,360,Consumer
39,1040,2024-10-26,East,Ahmed,Keyboard,10,40,400,Consumer
46,1047,2024-08-23,West,Nada,Monitor,7,150,1050,Corporate
47,1048,2024-12-05,South,Omar,Laptop,6,850,5100,Consumer
48,1049,2024-04-11,East,Salma,Mouse,6,25,150,Consumer
49,1050,2024-05-04,North,Ahmed,Laptop,6,850,5100,Consumer
53,1054,2024-06-07,South,Mariam,Laptop,9,850,7650,Corporate
57,1058,2024-06-03,South,Omar,Laptop,9,850,7650,Corporate
58,1059,2024-12-12,North,Omar,Monitor,8,150,1200,Consumer
61,1062,2024-05-28,West,Ahmed,Keyboard,9,40,360,Corporate
66,1067,2024-12-09,South,Omar,Keyboard,6,40,240,Corporate
77,1078,2024-04-23,West,Mariam,Mouse,10,25,250,Consumer
78,1079,2024-05-25,West,Ahmed,Laptop,9,850,7650,Corporate
79,1080,2024-05-04,West,Youssef,Mouse,7,25,175,Consumer
80,1081,2024-01-27,North,Mariam,Laptop,8,850,6800,Corporate
84,1085,2024-03-21,North,Nada,Keyboard,9,40,360,Consumer
85,1086,2024-02-06,North,Nada,Headset,6,60,360,Consumer
92,1093,2024-07-21,North,Omar,Monitor,10,150,1500,Corporate
96,1097,2024-09-04,West,Nada,Laptop,8,850,6800,Corporate
97,1098,2024-08-03,East,Ahmed,Headset,7,60,420,Consumer
98,1099,2024-07-17,North,Youssef,Headset,7,60,420,Corporate

In [22]:
df.sort_values('Total',ascending = False)

,OrderID,Date,Region,Salesperson,Product,Units,UnitPrice,Total,CustomerType
18,1019,2024-12-20,East,Mariam,Laptop,9,850,7650,Corporate
19,1020,2024-06-05,North,Youssef,Laptop,9,850,7650,Corporate
53,1054,2024-06-07,South,Mariam,Laptop,9,850,7650,Corporate
57,1058,2024-06-03,South,Omar,Laptop,9,850,7650,Corporate
78,1079,2024-05-25,West,Ahmed,Laptop,9,850,7650,Corporate
...,...,...,...,...,...,...,...,...,...
27,1028,2024-11-03,North,Youssef,Keyboard,1,40,40,Corporate
43,1044,2024-03-30,East,Ahmed,Keyboard,1,40,40,Consumer
42,1043,2024-12-02,West,Mariam,Keyboard,1,40,40,Corporate
91,1092,2024-01-23,West,Nada,Keyboard,1,40,40,Consumer
24,1025,2024-08-24,South,Salma,Mouse,1,25,25,Consumer

In [30]:
df['Date'] = pd.to_datetime(df['Date'])

In [32]:
df[df['Date'].dt.month== 1]

,OrderID,Date,Region,Salesperson,Product,Units,UnitPrice,Total,CustomerType
8,1009,2024-01-26,North,Youssef,Laptop,7,850,5950,Consumer
13,1014,2024-01-25,South,Salma,Mouse,6,25,150,Consumer
34,1035,2024-01-22,West,Salma,Monitor,4,150,600,Consumer
35,1036,2024-01-04,West,Omar,Mouse,7,25,175,Consumer
80,1081,2024-01-27,North,Mariam,Laptop,8,850,6800,Corporate
89,1090,2024-01-03,South,Nada,Headset,4,60,240,Consumer
91,1092,2024-01-23,West,Nada,Keyboard,1,40,40,Consumer

In [33]:
df.query("CustomerType == 'Corporate' and Total > 1000")

,OrderID,Date,Region,Salesperson,Product,Units,UnitPrice,Total,CustomerType
7,1008,2024-06-01,North,Salma,Laptop,3,850,2550,Corporate
11,1012,2024-06-28,South,Salma,Monitor,8,150,1200,Corporate
18,1019,2024-12-20,East,Mariam,Laptop,9,850,7650,Corporate
19,1020,2024-06-05,North,Youssef,Laptop,9,850,7650,Corporate
23,1024,2024-03-24,North,Mariam,Laptop,7,850,5950,Corporate
37,1038,2024-09-13,North,Nada,Laptop,4,850,3400,Corporate
40,1041,2024-08-25,South,Omar,Laptop,4,850,3400,Corporate
46,1047,2024-08-23,West,Nada,Monitor,7,150,1050,Corporate
53,1054,2024-06-07,South,Mariam,Laptop,9,850,7650,Corporate
56,1057,2024-04-21,East,Mariam,Laptop,5,850,4250,Corporate
57,1058,2024-06-03,South,Omar,Laptop,9,850,7650,Corporate
63,1064,2024-12-01,North,Youssef,Laptop,4,850,3400,Corporate
78,1079,2024-05-25,West,Ahmed,Laptop,9,850,7650,Corporate
80,1081,2024-01-27,North,Mariam,Laptop,8,850,6800,Corporate
81,1082,2024-07-25,South,Mariam,Laptop,4,850,3400,Corporate
92,1093,2024-07-21,North,Omar,Monitor,10,150,1500,Corporate
96,1097,2024-09-04,West,Nada,Laptop,8,850,6800,Corporate

### level 3

In [35]:
total_revenue_region = df.groupby('Region')['Total'].sum()
print(total_revenue_region)

Region
East     16960
North    62255
South    42180
West     24435
Name: Total, dtype: int64

In [36]:
avg_sale_salesperson = df.groupby('Salesperson')['Total'].mean()
print(avg_sale_salesperson)

Salesperson
Ahmed      1245.555556
Mariam     2526.176471
Nada       1013.478261
Omar       1542.352941
Salma       829.615385
Youssef    1679.166667
Name: Total, dtype: float64

In [37]:
orders_per_customer_type = df['CustomerType'].value_counts()
print(orders_per_customer_type)

CustomerType
Consumer     56
Corporate    44
Name: count, dtype: int64

In [39]:
revenue_per_product = df.groupby('Product')['Total'].sum()
highest_revenue_product = revenue_per_product.max()
print("\nProduct with highest total revenue:", highest_revenue_product)

Product with highest total revenue: 121550

In [44]:
units_per_salesperson = df.groupby('Salesperson')['Units'].sum()
top_salesperson_units = units_per_salesperson.idxmax()
print("\nSalesperson who sold most units:", top_salesperson_units)
print(units_per_salesperson)

Salesperson who sold most units: Nada
Salesperson
Ahmed       84
Mariam      98
Nada       103
Omar        87
Salma       52
Youssef     63
Name: Units, dtype: int64

### Level 4

In [48]:
df['Month'] = df['Date'].dt.month

In [49]:
df

,OrderID,Date,Region,Salesperson,Product,Units,UnitPrice,Total,CustomerType,Month
0,1001,2024-09-07,North,Salma,Headset,8,60,480,Corporate,9
1,1002,2024-08-23,East,Mariam,Keyboard,7,40,280,Corporate,8
2,1003,2024-05-04,North,Youssef,Monitor,8,150,1200,Consumer,5
3,1004,2024-12-08,North,Nada,Headset,2,60,120,Consumer,12
4,1005,2024-09-12,South,Nada,Mouse,5,25,125,Corporate,9
...,...,...,...,...,...,...,...,...,...,...
95,1096,2024-11-27,West,Mariam,Laptop,2,850,1700,Consumer,11
96,1097,2024-09-04,West,Nada,Laptop,8,850,6800,Corporate,9
97,1098,2024-08-03,East,Ahmed,Headset,7,60,420,Consumer,8
98,1099,2024-07-17,North,Youssef,Headset,7,60,420,Corporate,7
99,1100,2024-08-22,South,Mariam,Keyboard,5,40,200,Consumer,8

In [50]:
sales_per_month = df.groupby('Month')['Total'].sum().sort_values(ascending=False)
print("Total sales per month:")
print(sales_per_month)

Total sales per month:
Month
6     27420
12    22350
5     19945
9     15285
1     13955
8     11350
4     11120
7      6790
3      6750
2      5680
10     2780
11     2405
Name: Total, dtype: int64

In [51]:
highest_month = sales_per_month.idxmax()
print("\nMonth with highest revenue:", highest_month)

Month with highest revenue: 6

In [52]:
avg_order_per_month = df.groupby('Month')['Total'].mean()
print("\nAverage order value per month:")
print(avg_order_per_month)

Average order value per month:
Month
1     1993.571429
2      946.666667
3     1125.000000
4     1390.000000
5     2493.125000
6     3427.500000
7      970.000000
8      810.714286
9     1389.545455
10     463.333333
11     601.250000
12    1490.000000
Name: Total, dtype: float64

In [55]:
summary_region_month = df.groupby(['Region', 'Month'])['Total'].sum()
print("\nSummary of total sales by region and month:")
print(summary_region_month)

Summary of total sales by region and month:
Region  Month
East    2          120
        3          200
        4         5900
        5          850
        7          600
        8          880
        10         400
        12        8010
North   1        12750
        2         1210
        3         6350
        4         4250
        5        10550
        6        10380
        7         2220
        8           75
        9         7330
        10        2380
        11          40
        12        4720
South   1          390
        2         4250
        4          600
        6        17040
        7         3970
        8         9235
        9          845
        12        5850
West    1          815
        2          100
        3          200
        4          370
        5         8545
        8         1160
        9         7110
        11        2365
        12        3770
Name: Total, dtype: int64

### level 5

In [56]:
top3_products = df.groupby('Product')['Total'].sum().sort_values(ascending=False).head(3)
print("Top 3 products by revenue:")
print(top3_products)

Top 3 products by revenue:
Product
Laptop     121550
Monitor     13800
Headset      4620
Name: Total, dtype: int64

In [57]:
total_revenue = df['Total'].sum()
salesperson_contribution = (df.groupby('Salesperson')['Total'].sum() / total_revenue) * 100
print("\nSalesperson contribution (% of total revenue):")
print(salesperson_contribution)

Salesperson contribution (% of total revenue):
Salesperson
Ahmed      15.374066
Mariam     29.448673
Nada       15.984365
Omar       17.979840
Salma       7.395598
Youssef    13.817459
Name: Total, dtype: float64

In [58]:
df['DiscountedTotal'] = df['Total'] * 0.95
print("\nNew column 'DiscountedTotal' added.")

New column 'DiscountedTotal' added.

In [59]:
most_sold_per_region = df.groupby(['Region', 'Product'])['Units'].sum().reset_index()
most_sold_per_region = most_sold_per_region.loc[most_sold_per_region.groupby('Region')['Units'].idxmax()]
print("\nMost sold product per region:")
print(most_sold_per_region)

Most sold product per region:
   Region   Product  Units
1    East  Keyboard     31
7   North    Laptop     63
12  South    Laptop     42
19   West     Mouse     41